@using MTrackerAdmin.Model
@model IEnumerable<Organization>
@{
    ViewData["Title"] = "Home page";
     Layout = "~/Pages/Shared/_Layout.cshtml";

}

<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Striped Table</h4>
                    <p class="card-description"> Add class <code>.table-striped</code>
                    </p>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th> Org.ID </th>
                          <th> Org.Name </th>
                          <th> Org.Email </th>
                          <th> Org.Contact </th>
                          <th> Org.Address </th>
                          <th> GST </th>
                          <th> State </th>
                          <th> City </th>
                          <th> ZIP </th>
                        </tr>
                      </thead>
                      <tbody>
                        @if (Model == null)
                        {
                          <tr> <td colspan="3" class="text-center"> No data found.</td></tr>
                         }
                         @foreach (var p in Model)
                         {
                         <tr>
                        <td>@p.OrgID</td>
                        <td>@p.OrgName</td>
                      
                        <th>
                            <a asp-action="Approved" class="btn btn-success a-btn-slide-text">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                <span><strong>Approve</strong></span>
                            </a>
                           </th>
                        </tr>
                         }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          <!-- content-wrapper ends -->